@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
    font-family: "Work Sans", serif;
    font-optical-sizing: auto;
    font-style: normal;
  }

  /* shared style */
 
  .dark1{
    color: #131313;
  }
  .dark2{
    color: #424242;
  }

  .dark3{
    color: #727272;
  }

  .display-flex{
    display: flex;
  }

  .secondary-bg-color{
    background-color: rgba(255, 144, 14, 0.1);
  }

  .btn-style{
    background-color: rgba(255, 144, 14, 1);
    color: #FFFFFF;
    border-radius: 8px;
    padding: 20px 25px;
    border: none;
    font-size: 1.25rem;
    font-weight: 600;
  }

main{
    max-width: 1440px;
    margin: 0 auto;
}

.section-title{
  font-size: 45px;
  font-weight: bold;
}
  /* header section style */

  /* nav bar style */

  .navbar{
    justify-content: space-between;
    align-items: center;
  }

  .nav-links{
    list-style: none;
    gap: 2.5rem;
  }

  .brand{
    font-size: 2.8rem;
    font-weight: bold;
  }

  .nav-link{
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 500;
  }
  .navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
  }

  /* banner section style */

  .banner-content{
    max-width: 868px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
  }

  .banner-title{
    font-size: 4rem;
    font-weight: bold;
  }

  .banner-image{
    max-width: 100%;
    margin-bottom: 45px;
  }

/* expirence section style */

.expireance{
  gap: 140px;
}

#feature-section-title{
  border-left: 5px solid #FF900E;
  padding-left: 21px;
}
.expireance-title{
  font-size: 20px;
  font-weight: 600;
  color: rgba(19, 19, 19, 1);
  margin-top: 0px;
  margin-bottom: 0px;
}

.expireance-list{
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
  margin-bottom: 20px;
}

#experience-badge{
  padding: 45px 42px;
  font-size: 1.5rem;
  font-weight: 500;
  margin-left: -100px;
  margin-top: -100px;
}

#experience-year{
  font-size: 4rem;
  font-weight: 700;
}

.feature-architect img{
  width: 100%;
}
/* Features section style */

  .teams{
    align-items: center;
    margin-top: 5.31rem;
    gap: 73px;
  }

  .img-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 24px;
    border-radius: 8px;
  }

  .our-features{
    max-width: 537px;
  }

  .quick-list{
    font-weight: 500px;
  }
  .features{
    color: rgba(255, 144, 14, 1);
  }

  /* facts related style */

    .facts-description{
      max-width: 540px;
    }
    .facts-container{ 
      display: grid;
      grid-template-columns: repeat(4,1fr);
      margin-top: 100px;
    }

    .fact-card{ 
      border: 1px solid #FF900E;
      border-radius: 8px;
      height: 240px;
      width: 240px;
      justify-content: center;
      align-items: center;
      text-align: center;
      padding: 30px;
    }

    .facts{
      margin-top: 130px;
    }

    .fact-number  {
      font-size: 45px;
      font-weight: 600;
      margin-top: 10px;
      margin-bottom: 5px;
    }

    .fact-name{ 
      font-size: 20px;
      font-weight: 600;
      margin-top: 0px;
    }

    /* sponsor section style */
.sponsor-info{
  max-width: 540px;
  margin: 50px auto;
  text-align: center;
}

.sponsor{
  margin-top: 180px;
  margin-bottom: 130px;
}

.sponsor-logo{
  display: grid;
  grid-template-columns: repeat(5,1fr);
}

.sponsor-logo img{
  filter: grayscale(100%);
}
  /* responsive design */

  @media screen and (max-width: 576px) {
    .navbar, .nav-links, .teams{
        flex-direction: column;
    }

    .img-container, .facts-container, .sponsor-logo{
        grid-template-columns:1fr;
    }
.facts-container, .sponsor-logo{
  justify-items: center;
  gap: 24px;
}

.sponsor-logo{
  justify-items: center;
  gap: 24px;
}
.sponsor-logo{
  justify-items: center;
  gap: 40px;
}
.facts{
  text-align: center;
}
    .banner-title{
        font-size: 2rem;
        font-weight: bold;
      }

      .our-features{
        margin-left: 20px;
  }
  .navbar{
    margin: 0 auto;
  }
}

/* medium size device responsive design */

@media screen and (min-width:577px) and (max-width:992px) {
  .teams{
    flex-direction: column;
  }
  .our-features{
    margin: 40px auto;
  }
  .navbar{
    margin-left: 20px;
    margin-right: 20px;
  }
.sponsor-logo, .facts-container{
  grid-template-columns: repeat(2,1fr);
  gap: 40px;
  justify-items: center;
}

}
